<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accueil</title>
</head>
<body>
    <p>Page d'accueil {{ getRoute("Home:home_page") }}</p>

    <p>Nom : {{ nom }}</p>

    <form action="{{ postRoute("Home:form") }}" method="post">
        <input type="hidden" value="{{ csrf }}" name="csrf">
        <button name="envoi">Vérifie</button>
    </form>

    {% if check %} 
        <p>Token vérifié ok</p>
    {% else %}
        <p>Token non vérifie</p>
    {% endif %}

    {{ 
        jRoute([
            ["get","Home:home_page"],
            ["get","Home:home_page",{
                "lang" : "fr"
            }]
        ]) 
    }}

    <script>
        var mesRoutes = getRouteList();

        console.log(mesRoutes);
    </script>
</body>
</html>